*{
  overflow: hidden;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)),url(login_bg.jpg); 
  background-size: cover; 
  z-index: -1;
}
.big-wrap{
  position: relative; width: 100%; height: 100%; z-index: -1;
}
.bg{
  position: relative; left: 3%; width: 75%; top: 12%; border-bottom: solid white; border-width: 1px; padding-bottom: 3%;
}
.in{
  position: relative; background-image: url(itonlearn.png); background-size: cover; left: 0%; width: 70%; height: 25%; right: 25%;
}
.login-wrap{
  display: flex; flex-direction: column; height: 100%; width: 19%; z-index: 1; background-color: white; position: absolute; left: 81%; top: -0%;
}
@media screen and (max-width: 1000px){
  .login-wrap{
    width: 100%;
    left: 0%;
  }
  .bg{
    width: 0%;
    left: 0%;
    top: 0%;
  }
  body{
    background-color: white;
    background-image: none;
  }
  .in{
    background-image: none;
  }
}