
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
div{
  border-radius: 2px;
}
html {
   width: 100%;                    /* 100% width of parent (root) element */
   height: 100vh;                  /* 100% height of viewport */
   background: rgb(0, 0, 0, 0.1);  /* 10% opacity black (very light gray) */
   font-size: 1.0em;               /* our root font size */
   scroll-behavior: smooth;
   overflow: auto;
   background-color: white;
 }
 body {
   margin: 0;                      /* content goes to edge of viewport */
   height: 100vh;                  /* and spans height of viewport */
 }
 div.container {
   min-height: 25rem;            /* mainbody height never squishes < 25rem */
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-columns:
     [left] 5rem auto 10rem [right];
   grid-template-rows:
     [top] 4.14rem auto 5rem [bottom];
   grid-template-areas:
     "head head head"
     "panleft mainbody mainbody"
     "panleft mainbody mainbody";
 }
 div.header {
   background:#1A70BD;                             /* 20% black */
   grid-area: head;                /* head corresponds to name in template */
   position: fixed;
   width: 100%;
   z-index: 3;
 }
 div.footer {
   background:#1A70BD;
   grid-area: foot;

 }
 div.panel {                            /* div elements with "panel" class */
   background: rgb(0, 0, 0, 0.1);                             /* 10% black */
 }
 div.panel.left {                    /* with both "panel" and "left" class */
   grid-area: panleft;
   height: 100%;
   background-color: #263238;
   position: fixed;
   padding-left: 3px;
   top: 5.1%;
 }

 div.mainbody {
   grid-area: mainbody;
   width: 100%;                   /* mainbody width is fixed */ 
   justify-self: center;           /* and always centered in grid area */
 }
 @media screen and (max-width: 50rem) {     /* if viewport width < 50rem */
   div.panel.left {
     grid-column-end: left;            /* left panel stops at left edge */
   }
   div.panel.right {
     grid-column-start: right;         /* right panel starts at right edge */
   }
   div.panel {
     display: none;                    /* neither panel is displayed */
   }
   div.mainbody {
     grid-column-start: left;          /* mainbody starts at left edge */
     grid-column-end: right;           /* mainbody ends at right edge */
   }
 }
 .dropbtn {
  background-color: #263238;
  float: left;
  color: white;
  justify-content: center;
  padding-top: 16px;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.dropdown {
  position: float;
  display: inline-block;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #263238;
  min-width: 298px;
  height: 50px;
  z-index: 2;
}

.dropdown-content a {
  color:white;
  background-color: #263238;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 30px;
  padding-bottom: 14px;
  font-size: 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: #263238ab}

.dropdown:hover .dropdown-content {
  display: block;
  
}

.dropdown:hover .dropbtn {
  background-color: #263238b7;
  
}

.dropbtnEn {
  background-color: #1A70BD;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.dropbtnEn:hover{
  background-color: #1a71bd98;
}

.dropdownEn {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-contentEn {
  display: none;
  position: absolute;
  padding-top: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentEn a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentEn a:hover {background-color: #f1f1f1}

.dropdownEn:hover .dropdown-contentEn {
  display: block;
}

.dropdownEn:hover .dropbtnEn {
  background-color: #1a71bd5d;
}
.logInhome {
  background-color: #1A70BD;
  color: white;
  padding-bottom: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 00.2s;
}
.logInhome:hover{
  background-color: #1a71bd67;
}
::-webkit-scrollbar {
  width: 5px;
  background:lightgray;
}
div::-webkit-scrollbar {
  display: none;
}
.course{
  position: relative;
  width: 55%;
  left: 22%; 
  right: 22%;
  border-bottom: groove rgba(241, 241, 241, 0.432);
  padding-bottom: 3%;
  border-width: 1px;
}
.courselist{
  position: relative;
  width: 55%;
  left: 23%;
  right: 22%;
  top: 12.5%;
  border-bottom: groove rgba(241, 241, 241, 0.432);
  padding-bottom: 10%;
  border-width: 1px;
}
.card-container {
  width: 100%;
  cursor: pointer;
  overflow: auto;
  display: flex;
  background-color:white;
  padding: 1.2rem;
}
.card {
  width: 25%;
  height: 300px;
  min-width: 24%;
  border-radius: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 8px;
  transition: 0.2s;
  overflow: hidden;
  border: solid rgba(136, 136, 136, 0.432);
  border-width: 1px;
}
.searchDiv{
  width: 50%; left: 22%; position: relative; float: left; top: 3.8%;
}
@media screen and (max-width: 2200px){
  .course{
    width: 60%;
  }
}
@media screen and (max-width: 1920px){
  .course{
    width: 80%;
    left: 10%;
    right: 10%;
  }
  .card{
    min-width: 24.2%;
  }
  .searchDiv{
    left: 12%;
  }
}
@media screen and (max-width: 1600px){
  .course{
    width: 90%;
    left: 5%;
    right: 5%;
  }
  .card{
    min-width: 32.5%;
    border-radius: 3px;
    color: #C7DCF1;
  }
  .footerNa{
    height: 15rem;}
}

@media screen and (max-width: 700px){
  .course{
    width: 90%;
    left: 5%;
    right: 5%;
  }
  .card{
    min-width: 49%;
  }
}
details{
  color: #1A70BD;
  padding-left: 15px;
  font-size: 17px;
  padding-bottom: 5px;
}
div.spantext{
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 3%;
}
div.spantext:nth-of-type(odd){
  background-color: rgba(247, 243, 243, 0.644);
}
div.spantext:nth-of-type(even){
  background-color:white;
}
div.spantext:nth-child(1){
  margin-top: 5px;
}

.cardfoot-container {
  position: relative;
  width: 95%;
  left: 2.5%;
  display: flex;
  padding: 1rem;
  height: 10rem;
  border-bottom: solid rgba(204, 204, 204, 0.356);
  border-width: 1px;
  justify-content: center;
}
.cardfoot {
  display: flex;
  width: 18%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  margin: 8px;
  
}
.spantext{
  line-height: 3em;
}